<div data-role="view" id="cars" 
     data-title="Cars" 
     data-layout="layout" 
     data-model="carsViewModel">
    <ul data-role="listview" data-style="inset" data-type="group">
        <li data-bind="visible: checkIsEdit()" >
            Your Travel Settings
            <ul>
                <li>
                    <label>
                        Office:
                        <select id="officesDropDown" 
                                data-text-field="name" 
                                data-value-field="officeId"
                                data-option-label="select office..."
                                data-bind="value: office, source: offices"
                                data-role="dropdownlist" ></select>
                    </label>
                </li>
                <li>
                    <label>
                        District:
                        <select id="districtsDropDown" 
                                data-cascade-from="officesDropDown"
                                data-text-field="name" 
                                data-option-label="select dsitrict..."
                                data-value-field="id"
                                data-change="carsViewModel.onDistrictChange"
                                data-bind="value:dsitrict, source: districts"  
                                data-role="dropdownlist"  ></select>
                    </label>
                </li>
                <li>
                    <label>
                        When you leave:
                        <select id="leaveTimes" 
                                data-option-label="select time..."
                                data-text-field="name" 
                                data-value-field="id" 
                                data-bind="value: leaveTime, source: timeOptions"  
                                data-role="dropdownlist"  ></select>
                    </label>
                </li>
                <li style="height: 45px">
                    <label>
                        I will:
                        <ul id="bg-drive-type"
                            data-role="buttongroup" 
                            data-index="0"
                            data-bind="events: { select: onRideSelected }">
                            <li>drive</li>
                            <li>ride</li>
                            <li>both</li>
                        </ul>
                    </label>
                </li>
                <li>
                    <i></i>
                    <a data-role="button"
                       data-bind="events: { click: onSubmit }"
                       style="display: block; margin: 0 2em 0 2em; text-align: center;">Save</a>
                </li>
            </ul>

        </li>

        <li data-bind="visible:checkIsNotEdit()" >
            Your Travel Settings
            <ul>
                <li>
                    <div>
                        You live in <b><span data-bind="text:district.name"></span></b><br/>
                        To the <b><span data-bind="text:office.name"></span></b> office<br/>
                        You leave home at <b><span data-bind="text:leaveTime.name"></span></b><br/>
                        and you want to <b><span data-bind="text:getRideType()"></span></b><br/>
                    </div>
                </li>
                <li>
                    <i></i>
                    <a data-role="button"
                       data-bind="events: { click: onEdit }"
                       style="display: block; margin: 0 2em 0 2em; text-align: center;">Edit</a>
                </li>
            </ul>
        </li>

        <li data-bind="visible:checkIsNotEdit()">
            Pick Your Travel Buddy
            <ul>
                <li>
                    <ul data-role="buttongroup" 
                        data-index="0"
                        data-bind="events: { select: onFilterSelected }">
                        <li>show all</li>
                        <li>show not left yet</li>
                    </ul>
                </li>
            </ul>

            <ul id="matches-listview"  
                data-role="listview" 
                data-template="mobile-listview-travel-matches"
                data-bind="source: travelMatches"></ul>

        </li>
    </ul>

</div>

<script type="text/x-kendo-tmpl" id="mobile-listview-travel-matches">
    ${user.name} (<span>${user.team})</span><br>
    <img src="${user.imageUrl}" />
    <div >
        Traveling from <b><span>${travelInfo.neighborhood.name}</span></b><br>
        leaves at <b><span>${travelInfo.leaveTime.name}</span></b><br>
        Wants to <b><span>${getRideTypeDescription(travelInfo.rideType)}</span></b><br>
        <span> phone:
            <a href="tel:${user.phone}">${user.phone}</a> </span>
    </div>
</script>

<style scoped>
    img
    {
        float:left;
        height: 75px;
        width: 75px;
        clip:rect(30px,7px,30,80px);
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #matches-listview div
    {
        float: left;
        margin-left: 10px;
        font-size: 15px;
        height: 80px;
        position: relative;
    }
    #matches-listview li
    {
        height: 130px;
    }
    #bg-drive-type
    {
        position: relative;
        top: -32px;
        left: 50px;
    }
</style>