<div data-role="view" id = "leaves" data-title="Leaves" data-layout="layout" data-model="leavesViewModel" data-show="leaves.initialize">
    <h1>Leaves</h1>
    
    <ul id="leaves-list">
        <li>
            <h2>Regular</h2>
            <div id="regularLeavesBar" ></div><span id="regularCount" ></span><br/>
            <span id="usedRegularCount" data-bind="text: usedRegularLeaves"/> / <span id="allRegularCount" data-bind="text: allRegularLeaves"/>
        </li>
        
        <li>
            <h2>Student</h2>
            <div id="studentLeavesBar" ></div><span id="studentCount"></span><br/>
            <span id="usedStudentCount" data-bind="text: usedStudentLeaves"/> / <span id="allStudentCount" data-bind="text: allStudentLeaves"/>            
        </li>
        
        <li>
            <h2>Bonus</h2>
            <div id="bonusLeavesBar" ></div><span id="bonusCount"></span><br/>
            <span id="usedBonusCount" data-bind="text: usedBonusDays"/> / <span id="allBonusCount" data-bind="text: allBonusDays"/>            
        </li>
    </ul>
</div>

<script>
    var leavesViewModel = kendo.observable({
        allStudentLeaves: 0,
        remainingStudentLeaves: 0,
        usedStudentLeaves: 0,
        
        allRegularLeaves: 0,
        remainingRegularLeaves: 0,
        usedRegularLeaves: 0,
        
        allBonusDays: 0,
        remainingBonusDays: 0,
        usedBonusDays: 0
    });

    var Leaves = function(){
        this.regularLeavesBar = null;
        this.studentLeavesBar = null;
        this.bonusDaysBar = null;
    }
    Leaves.prototype = {
        selectors: {
            progressBars: "#leaves-list div",
            studentLeavesBar: "#studentLeavesBar",
            regularLeavesBar: "#regularLeavesBar",
            bonusLeavesBar: "#bonusLeavesBar",
            
            usedBonusCount: "#usedBonusCount",
            usedRegularCount: "#usedRegularCount",
            usedStudentCount: "#usedStudentCount",
            
            allBonusCount: "#allBonusCount",
            allRegularCount: "#allRegularCount",
            allStudentCount: "#allStudentCount",
            
            bonusCount: "#bonusCount",
            regularCount: "#regularCount",
            studentCount: "#studentCount",
        },
        
        initialize: function(){            
            var self = leaves;
            
            leaves.loadData(function(data){
                self.initializeProgressBars(data);
                
                self.studentLeavesBar.value(data.remainingStudentLeaves);
                self.regularLeavesBar.value(data.remainingRegularLeaves);
                self.bonusLeavesBar.value(data.remainingBonusDays);
                
                //data.usedStudentLeaves = function() {
                //    return data.allStudentLeaves - data.remainingStudentLeaves;
                //}
                
                leavesViewModel.set("usedStudentLeaves", data.allStudentLeaves - data.remainingStudentLeaves);
                leavesViewModel.set("usedBonusDays", data.allBonusDays - data.remainingBonusDays);
                leavesViewModel.set("usedRegularLeaves", data.allRegularLeaves - data.remainingRegularLeaves);
                
                leavesViewModel.set("allStudentLeaves", data.allStudentLeaves);
                leavesViewModel.set("allBonusDays", data.allBonusDays);
                leavesViewModel.set("allRegularLeaves", data.allRegularLeaves);
                //var viewModel = kendo.observable(data); 
                
                //kendo.bind($("leaves-list"), viewModel);
            });
        },
        
        initializeProgressBars: function(data) {
            this.regularLeavesBar = $("#regularLeavesBar").kendoProgressBar({
                type: "chunk",
                min: 0,
                max: data.allRegularLeaves,
                animation: {
                    duration: 600
                }
            }).data("kendoProgressBar");
            
            this.bonusLeavesBar = $(this.selectors.bonusLeavesBar).kendoProgressBar({
                type: "percent",
                min: 0,
                max: data.allBonusDays,
                animation: {
                    duration: 600
                }
            }).data("kendoProgressBar");
            
            this.studentLeavesBar = $(this.selectors.studentLeavesBar).kendoProgressBar({
                type: "percent",
                min: 0,
                max: data.allStudentLeaves,
                animation: {
                    duration: 600
                }
            }).data("kendoProgressBar");
            
            console.log(this.regularLeavesBar);
         },
        
        //here get data from service
        loadData: function(successCB){
            var data = {
                allStudentLeaves: 20,
                remainingStudentLeaves: 6,
                
                allRegularLeaves: 20,
                remainingRegularLeaves: 11,
                
                allBonusDays: 3,
                remainingBonusDays: 1
            }
            
            successCB(data);
        }
    }
    
    var leaves = new Leaves();
    //console.log("leaves class: " + Leaves);
    console.log(leaves);
    //leaves.initialize();
    
</script>

 <style scoped>        
        #leaves-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        #leaves-list li:after {
            content: "";
            display: block;
            clear: both;
            height: 3px;
            line-height: 0;
        }
        #leaves-list .k-progressbar {
            margin: 0 0 5px 0;
            width: 90%;
        }
    </style>