<div data-role="view" id = "leaves" data-title="Leaves" data-layout="layout" data-model="leavesViewModel" data-show="leaves.initialize">
    <h1>Leaves</h1>
    
    <ul id="leaves-list">
        <li>            
            <div id="regularLeavesBar" ></div><span id="regularCount" ></span><br/>
            <b>Regular: </b><span data-bind="text: usedRegularLeaves"></span> / <span data-bind="text: allRegularLeaves"/>
        </li>
        
        <li>
            <div id="studentLeavesBar" ></div><span id="studentCount"></span><br/>
            <b>Student: </b><span data-bind="text: usedStudentLeaves"></span> / <span data-bind="text: allStudentLeaves"/>            
        </li>
        
        <li>
            <div id="bonusLeavesBar" ></div><span id="bonusCount"></span><br/>
            <b>Bonus days: </b><span data-bind="text: usedBonusDays"></span> / <span data-bind="text: allBonusDays"/>            
        </li>
    </ul>
</div>

<script>
    var leavesViewModel = kendo.observable({
        allStudentLeaves: 0,
        remainingStudentLeaves: 0,
        usedStudentLeaves: 0,
        
        allRegularLeaves: 0,
        remainingRegularLeaves: 0,
        usedRegularLeaves: 0,
        
        allBonusDays: 0,
        remainingBonusDays: 0,
        usedBonusDays: 0
    });

    var Leaves = function(){
        this.regularLeavesBar = null;
        this.studentLeavesBar = null;
        this.bonusDaysBar = null;
    }
    Leaves.prototype = {
        selectors: {
            progressBars: "#leaves-list div",
            studentLeavesBar: "#studentLeavesBar",
            regularLeavesBar: "#regularLeavesBar",
            bonusLeavesBar: "#bonusLeavesBar"
        },
        
        initialize: function(){            
            var self = leaves;
            
            leaves.loadData(function(data){
                self.initializeProgressBars(data);
                
                var usedStudent = data.allStudentLeaves - data.remainingStudentLeaves;
                var usedBonus = data.allBonusDays - data.remainingBonusDays;
                var usedRegular = data.allRegularLeaves - data.remainingRegularLeaves;
                
                self.studentLeavesBar.value(usedStudent);
                self.regularLeavesBar.value(usedRegular);
                self.bonusLeavesBar.value(usedBonus);
                
                leavesViewModel.set("usedStudentLeaves", usedStudent);
                leavesViewModel.set("usedBonusDays", usedBonus);
                leavesViewModel.set("usedRegularLeaves", usedRegular);
                
                leavesViewModel.set("allStudentLeaves", data.allStudentLeaves);
                leavesViewModel.set("allBonusDays", data.allBonusDays);
                leavesViewModel.set("allRegularLeaves", data.allRegularLeaves);
            });
        },
        
        initializeProgressBars: function(data) {
            this.regularLeavesBar = $("#regularLeavesBar").kendoProgressBar({
                type: "value",
                min: 0,
                max: data.allRegularLeaves,
                animation: {
                    duration: 600
                }
            }).data("kendoProgressBar");
            this.regularLeavesBar.progressStatus.text(" ");            
            
            this.bonusLeavesBar = $(this.selectors.bonusLeavesBar).kendoProgressBar({
                type: "value",
                min: 0,
                max: data.allBonusDays,
                animation: {
                    duration: 600
                }
            }).data("kendoProgressBar");
            this.bonusLeavesBar.progressStatus.text(" ");
            
            this.studentLeavesBar = $(this.selectors.studentLeavesBar).kendoProgressBar({
                type: "value",
                min: 0,
                max: data.allStudentLeaves,
                animation: {
                    duration: 600
                }
            }).data("kendoProgressBar");
            this.studentLeavesBar.progressStatus.text(" ");
            
            console.log(this.regularLeavesBar);
         },
        
        //here get data from service
        loadData: function(successCB){
            var data = {
                allStudentLeaves: 20,
                remainingStudentLeaves: 6,
                
                allRegularLeaves: 20,
                remainingRegularLeaves: 11,
                
                allBonusDays: 3,
                remainingBonusDays: 1
            }
            
            successCB(data);
        }
    }
    
    var leaves = new Leaves();    
</script>

 <style scoped>        
        #leaves-list {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
        #leaves-list li:after {
            content: "";
            display: block;
            clear: both;
            height: 3px;
            line-height: 0;
        }
        #leaves-list .k-progressbar {
            margin: 0 0 3px 0;
            width: 95%;
        }
     #leaves-list li {
         margin: 15px
     }
</style>