<div data-role="view" id="people" data-title="People" data-layout="layout" data-init="mobileListViewFiltering">
    <ul id="people-listview"></ul>
</div>

<script type="text/x-kendo-tmpl" id="mobile-listview-filtering-template">
    <span>${name}</span>
    <br><img src="${imageUrl}" />
    <div >
        <span>${team}</span><br>
        <span>${email}</span><br>
        <span>
            <a href="tel:${phone}">${phone}</a>
        </span><br>
    </div>
</script>
<style scoped>
    img
    {
        float: left;
    }
    #people-listview div
    {
        float: left;
        margin-left: 10px;
        font-size: 15px;
        height: 80px;
        position: relative;
    }
    #people-listview li
    {
        height: 120px;
    }
</style>
