<div data-role="view" id="people" data-title="People" data-layout="layout" data-init="mobileListViewFiltering">
    <ul id="people-listview"></ul>
</div>

<script type="text/x-kendo-tmpl" id="mobile-listview-filtering-template">
        
           ${name}<br><img src="http://demos.kendoui.com/content/mobile/overview/carine.jpg" />
           <div >
               <span>${email}</span><br>
               <span>${team}</span><br>
               <span><a href="tel:${phone}">${phone}</a></span><br>
           </div>
</script>
<style scoped>
    img{
        float:left;
    }
    #people-listview div{
        float:right;
        font-size:15px;
        width:150px;
        height:50px;
        position:relative;
        left:-35px;
    }
    #people-listview li{
        height:150px;
    }
</style>
